- omit_levels = false
.container.text-center
  .row.u-margin-top-lg
    .col-md-12.sponsors-media
      %h2 Media Partners
      = partial "/includes/events/commit/sponsor-logos-transparent", locals: { logos_data: data.sponsors_media_partners, link_text: "sponsors", link_url: "#", omit_levels: true, open_source_partners: false }
  .row
    .col-md-12.sponsors-partners
      = partial "/includes/events/commit/sponsor-logos-transparent", locals: { logos_data: data.sponsors, link_url: "#", omit_levels: false, open_source_partners: false }
  .row
    .col-md-12.sponsors-partners.u-margin-bottom-sm
      %h2 Open Source Partners
      = partial "/includes/events/commit/sponsor-logos-transparent", locals: { logos_data: data.sponsors_open_source_partners, link_url: "#", omit_levels: false, open_source_partners: true }
