<% add_extra_css('sdlc-comparison-tabs.css') %>
<% add_extra_js('libs/vue.min.js', 'sdlc-comparison-tabs-vue.js') %>

<% features= data.feature_comparisons[source] %>

<div class="sdlc-comparison-container" v-cloak>
  <tabs>
  <% if !features.blank? %>
    <% features.each do |stage| %>

    <tab name="<%= stage.name %>"
      v-bind:selected="<%= stage.selected %>"
      icon="<%= stage.icon %>"
      v-bind:category-href="'<%= stage.url %>'">

      <feature-table
        default-title="<%= stage.title %>"
        default-description="<%= stage.description %>">

    <% if !stage.rows.blank? %>
      <% columns_length = 0 %>
      <% stage.rows.each do |row| %>

          <feature-row
            hover-title="<%= row.title %>"
            hover-description="<%= row.description %>">

            <feature-link
              title="<%= row.text %>"
              link="<%= row.url %>">
            </feature-link>

          <% if !row.columns.blank? %>
          
            <% columns_length = row.columns.length %>
            <% row.columns.each do |column| %>

              <% if column.footer_text %>
                <div class="flex-cell flex-cell-footnote">
              <% else %>
                <div class="flex-cell">
              <% end %>

                  <% if column.icon_grayed %>
                    <img class="product-icon gray-filter" src="<%= column.icon_url %>" />
                  <% else %>
                    <img class="product-icon" src="<%= column.icon_url %>" />
                  <% end %>

                <% if column.footer_text %>
                  <h6><%= column.footer_text %></h6>
                <% end %>

              </div>
            <% end %>
          <% end %>
          </feature-row>
        <% end %>

        <% if stage.rows.length < 9 %>
          <% rows = stage.rows.length %>
          <% for row in rows .. 8 %>

            <feature-row class="feature-row-blank">
              <feature-link></feature-link>

              <% for col in 0 .. columns_length - 1 %>
                <div class="flex-cell"></div>
              <% end %>
            </feature-row>

          <% end %>
        <% end %>

      <% end %>
      </feature-table>
    </tab>

    <% end %>
  <% end %>
  </tabs>
</div>
